#-e git+https://github.com/brython-dev/brython.git#egg=brython
#-e git+https://github.com/pallets/flask.git#egg=flask
#-e git+https://github.com/mgood/flask-debugtoolbar.git#egg=flaskdebugtoolbar
#-e git+https://github.com/pallets/markupsafe.git#egg=markupsafe
# itsdangerous
#-e git+https://github.com/pallets/itsdangerous.git#egg=itsdangerous
# Blinker
#-e git+https://github.com/jek/blinker.git#egg=blinker
#-e git+https://github.com/bollwyvl/flask-reloaded.git#egg=flaskreloaded
#-e git+https://github.com/pallets/werkzeug.git#egg=werkzeug
#-e git+https://github.com/vakata/jstree.git#egg=jstree
-e git+https://github.com/lobeck/flask-bower.git#egg=flaskbower

#git://git.launchpad.net/python-pouchdb
#git://github.com/BernardoGO/PyDB.git
#git://github.com/JohnOmernik/sqlalchemy-drill.git
#git://github.com/PierreQuentel/PyDbLite.git
#git://github.com/airbnb/superset.git
#git://github.com/djc/couchdb-python.git
#git://github.com/histrio/py-couchdb.git
#git://github.com/kageurufu/flask-couchdb.git
#git://github.com/lepture/flask-wtf.git
#git://github.com/pallets/jinja.git
#git://github.com/perchouli/codernitydb.git
#git://github.com/pouchdb/pouchdb.git
#git://github.com/pouchdb/pouchdb.git
#git://github.com/sirn/flask-couchdbkit.git
#git://github.com/waylan/Python-Markdown.git
#git://github.com/zzzeek/sqlalchemy.git 
#hg clone git://bitbucket.org/wkornewald/django-mediagenerator
#hg clone https://bitbucket.org/leafstorm/flask-couchdb

