<html>
  <head>
    <script type="text/javascript" src="../bower_components/openpgp/dist/openpgp.js"></script>
    <script type="text/javascript" src="../bower_components/js-storage/js.storage.js"></script>
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
  </head>
  <body>
    <script>     
$(document).ready(function() {
    storage=Storages.localStorage;
    if (storage.isEmpty('privkey') && storage.isEmpty('keyid')) {

	if (storage.isEmpty('username')) {
	    storage.set('username','<username>')
	    storage.set('useremail','<usermail>')
	    storage.set('password','<passphrase>')
	    }
    }
});
    </script>    
    </body>
</html>
